@using Xomorod.Helper.Resources
@using Xomorod.Shared


<br />
<h1>
    @Localization.PrivacyPolicy
</h1>


<div class="left_right" style="text-align: @CultureHelper.GetTextAlign(); padding: 50px;">
    
    <h2>@string.Format(Localization.PrivacyPolicyHeader1, Localization.CompanyName)</h2>
    <p>@string.Format(Localization.PrivacyPolicyP1_1, Localization.Xomorod)</p>
    <p>@string.Format(Localization.PrivacyPolicyP1_2, Localization.Xomorod)</p>
    <p>@Localization.PrivacyPolicyP1_3</p>

    <h2>@Localization.PrivacyPolicyHeader2</h2>
    <p>@string.Format(Localization.PrivacyPolicyP2_1, Localization.Xomorod)</p>

    <div style="padding: 10px 50px;">
        <p>@Localization.PrivacyPolicyP2_2</p>
        <p>@Localization.PrivacyPolicyP2_3</p>
        <p>@string.Format(Localization.PrivacyPolicyP2_4, Localization.Xomorod)</p>
        <p>@Localization.PrivacyPolicyP2_5</p>
        <p>@Localization.PrivacyPolicyP2_6</p>
    </div>
    <p>@Localization.PrivacyPolicyP2_7</p>
    <p>@Localization.PrivacyPolicyP2_8</p>
    <p>@Localization.PrivacyPolicyP2_9</p>
    <p>@string.Format(Localization.PrivacyPolicyP2_10, Localization.Xomorod)</p>
    <p>@string.Format(Localization.PrivacyPolicyP2_11, Localization.Xomorod)</p>
    <p>@string.Format(Localization.PrivacyPolicyP2_12, Localization.Xomorod)</p>

    <h2>@Localization.PrivacyPolicyHeader3</h2>
    <p>@Localization.PrivacyPolicyP3_1</p>
    <p>@string.Format(Localization.PrivacyPolicyP3_2, Localization.Xomorod)</p>

    <h2>@Localization.PrivacyPolicyHeader4</h2>
    <p>@string.Format(Localization.PrivacyPolicyP4_1, Localization.Xomorod)</p>
    <p>@Localization.PrivacyPolicyP4_2</p>
    <p>@Localization.PrivacyPolicyP4_3</p>
    <p>@string.Format(Localization.PrivacyPolicyP4_4, Localization.Xomorod)</p>
    
    <h2>@Localization.PrivacyPolicyHeader5</h2>
    <p>@string.Format(Localization.PrivacyPolicyP5_1, Localization.Xomorod)</p>
    <p>@Localization.PrivacyPolicyP5_2</p>
    
    <h2>@Localization.PrivacyPolicyHeader6</h2>
    <p>@Localization.PrivacyPolicyP6_1</p>
    
    <h2>@Localization.PrivacyPolicyHeader7</h2>
    <p>@string.Format(Localization.PrivacyPolicyP7_1, Localization.Xomorod)</p>
    <p>@Localization.PrivacyPolicyP7_2</p>
    <p>@string.Format(Localization.PrivacyPolicyP7_3, Localization.Xomorod)</p>
    <p>@Localization.PrivacyPolicyP7_4</p>
    
    <h2>@Localization.PrivacyPolicyHeader8</h2>
    <p>@Localization.PrivacyPolicyP8_1</p>
    <p>@string.Format(Localization.PrivacyPolicyP8_2, Localization.Xomorod)</p>
    <p>ما Log File ها و Database هایی از اطلاعات کاربران برای تجزیه و تحلیل نحوه استفاده آنها در طی هر ماه ایجاد می کنیم. </p>
    <p>به این ترتیب می توانیم درک بهتری از وضعیت سایت مان داشته باشیم و محتوایی را که در «زمرد» ارائه می کنیم، بهبود ببخشیم. </p>
    <p>این اطلاعات، در بر گیرنده مشخصه های فردی و شخصی تک تک کاربران نیست. </p>
    <p>بار دیگر خاطر نشان می کنیم که : «هیچ یک از اطلاعات فردی و شخصی شما را به هیچ شخص ثالثی ارائه نمی کنیم مگر اینکه با اجازه خودتان باشد و یا این که به موجب قانون مجبور به انجام این کار باشیم.» </p>
    
    <h2>تغییرات در سیاست های سایت</h2>
    <p>ممکن است «زمرد» گاهی سیاست های کاری خود را بهبود و یا تغییر دهد. ما به شما پیشنهاد می کنیم که هر چند وقت یکبار این صفحه را مطالعه کنید تا از تغییرات احتمالی سیاست های ما آگاه شوید. </p>
    <p>چنان چه پرسشی درباره قوانین و سیاست های سایت «زمرد» داشتید، می توانید آنرا با ما در میان بگذارید. </p>
</div>
<br /><br />