@using Xomorod.Helper.Resources
@using Xomorod.Shared
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1>
    @Localization.PrivacyPolicy
</h1>


<div class="left_right" style="text-align: @CultureHelper.GetTextAlign(); padding: 50px;">
    
    <h2>@string.Format(Localization.PrivacyPolicyHeader1, Localization.CompanyName)</h2>
    <p>@string.Format(Localization.PrivacyPolicyP1_1, Localization.Xomorod)</p>
    <p>@string.Format(Localization.PrivacyPolicyP1_2, Localization.Xomorod)</p>
    <p>@Localization.PrivacyPolicyP1_3</p>

    <h2>@Localization.PrivacyPolicyHeader2</h2>
    <p>@string.Format(Localization.PrivacyPolicyP2_1, Localization.Xomorod)</p>

    <div style="padding: 10px 50px;">
        <p>@Localization.PrivacyPolicyP2_2</p>
        <p>@Localization.PrivacyPolicyP2_3</p>
        <p>@string.Format(Localization.PrivacyPolicyP2_4, Localization.Xomorod)</p>
        <p>@Localization.PrivacyPolicyP2_5</p>
        <p>@Localization.PrivacyPolicyP2_6</p>
    </div>
    <p>@Localization.PrivacyPolicyP2_7</p>
    <p>@Localization.PrivacyPolicyP2_8</p>
    <p>@Localization.PrivacyPolicyP2_9</p>
    <p>@string.Format(Localization.PrivacyPolicyP2_10, Localization.Xomorod)</p>
    <p>@string.Format(Localization.PrivacyPolicyP2_11, Localization.Xomorod)</p>
    <p>@string.Format(Localization.PrivacyPolicyP2_12, Localization.Xomorod)</p>

    <h2>@Localization.PrivacyPolicyHeader3</h2>
    <p>@Localization.PrivacyPolicyP3_1</p>
    <p>@string.Format(Localization.PrivacyPolicyP3_2, Localization.Xomorod)</p>

    <h2>@Localization.PrivacyPolicyHeader4</h2>
    <p>@string.Format(Localization.PrivacyPolicyP4_1, Localization.Xomorod)</p>
    <p>@Localization.PrivacyPolicyP4_2</p>
    <p>@Localization.PrivacyPolicyP4_3</p>
    <p>@string.Format(Localization.PrivacyPolicyP4_4, Localization.Xomorod)</p>
    
    <h2>@Localization.PrivacyPolicyHeader5</h2>
    <p>@string.Format(Localization.PrivacyPolicyP5_1, Localization.Xomorod)</p>
    <p>@Localization.PrivacyPolicyP5_2</p>
    
    <h2>@Localization.PrivacyPolicyHeader6</h2>
    <p>@Localization.PrivacyPolicyP6_1</p>
    
    <h2>@Localization.PrivacyPolicyHeader7</h2>
    <p>@string.Format(Localization.PrivacyPolicyP7_1, Localization.Xomorod)</p>
    <p>ما هیچ مسئولیتی در قبال رویه «حریم خصوصی» این سایت ها نداریم. ما كاربرانمان را به خواندن ابلاغیه های «حریم خصوصی» این سایت ها تشویق می كنیم. </p>
    <p>زمانی که شما بر روی لینک های اشخاص دیگر که در سایت ما وجود دارد کلیک می کنید و وارد آن سایت ها می شوید، اطلاعاتی از شما در اختیار آن ها گذاشته می شود. در این صورت زمرد هیچ گونه کنترلی بر این اطلاعات ندارد و در مقابل آن ها پاسخگو نیست. </p>
    <p>اگر شما اعتراضی نسبت به لینک های سایت ما داشتید، می توانید آن را به ما اطلاع دهید. مطمئن باشید که آدرس ایمیل شما نزد ما محفوظ می ماند و ما آن را بدون اجازه خودتان (مگر به موجب قانون) فاش نخواهیم کرد. </p>
    
    <h2>ما در این اطلاعات با چه کسانی سهیم هستیم؟</h2>
    <p>«زمرد» هیچ یک از اطلاعات فردی و شخصی کاربران خود را افشا نمی کند و همچنین آن ها را به شخص و یا اشخاص ثالثی منتقل نمی کند مگر اینکه به موجب قانون و یا حکم قانونی باشد. </p>
    <p>«زمرد» دارای سه بخش اطلاعات است: «آمار جمع آوری شده درباره کاربران، ترافیک سایت و اطلاعات مرتبط با سایت». ما از مشخصه های فردی شما فقط به منظور پاسخگویی به خودتان و یا برای تهیه گزارش های آماری در جهت شناخت بهتر کاربران مان استفاده می کنیم. </p>
    <p>ما Log File ها و Database هایی از اطلاعات کاربران برای تجزیه و تحلیل نحوه استفاده آنها در طی هر ماه ایجاد می کنیم. </p>
    <p>به این ترتیب می توانیم درک بهتری از وضعیت سایت مان داشته باشیم و محتوایی را که در «زمرد» ارائه می کنیم، بهبود ببخشیم. </p>
    <p>این اطلاعات، در بر گیرنده مشخصه های فردی و شخصی تک تک کاربران نیست. </p>
    <p>بار دیگر خاطر نشان می کنیم که : «هیچ یک از اطلاعات فردی و شخصی شما را به هیچ شخص ثالثی ارائه نمی کنیم مگر اینکه با اجازه خودتان باشد و یا این که به موجب قانون مجبور به انجام این کار باشیم.» </p>
    
    <h2>تغییرات در سیاست های سایت</h2>
    <p>ممکن است «زمرد» گاهی سیاست های کاری خود را بهبود و یا تغییر دهد. ما به شما پیشنهاد می کنیم که هر چند وقت یکبار این صفحه را مطالعه کنید تا از تغییرات احتمالی سیاست های ما آگاه شوید. </p>
    <p>چنان چه پرسشی درباره قوانین و سیاست های سایت «زمرد» داشتید، می توانید آنرا با ما در میان بگذارید. </p>
</div>
<br /><br />