@using Xomorod.Helper.Resources
@using Xomorod.Shared
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1>
    @Localization.PrivacyPolicy
</h1>


<div class="left_right" style="text-align: @CultureHelper.GetTextAlign(); padding: 50px;">
    
    <h2>@string.Format(Localization.PrivacyPolicyHeader2_1, Localization.CompanyName)</h2>
    <p>@string.Format(Localization.PrivacyPolicyP1_1, Localization.Xomorod)</p>
    <p>@string.Format(Localization.PrivacyPolicyP1_2, Localization.Xomorod)</p>
    <p>@Localization.PrivacyPolicyP1_3</p>

    <h2>@Localization.PrivacyPolicyHeader2_2</h2>
    <p>@string.Format(Localization.PrivacyPolicyP2_1, Localization.Xomorod)</p>

    <div style="padding: 10px 50px;">
        <p>@Localization.PrivacyPolicyP2_2</p>
        <p>@Localization.PrivacyPolicyP2_3</p>
        <p>@string.Format(Localization.PrivacyPolicyP2_4, Localization.Xomorod)</p>
        <p>@Localization.PrivacyPolicyP2_5</p>
        <p>@Localization.PrivacyPolicyP2_6</p>
    </div>
    <p>@Localization.PrivacyPolicyP2_7</p>
    <p>@Localization.PrivacyPolicyP2_8</p>
    <p>اطلاعات این که چه صفحاتی را و برای چند بار تماشا کرده اید و امثال آن. اینها اطلاعاتی هستند که ما جمع آوری می کنیم. </p>
    <p>«زمرد»، این اطلاعات را به منظور مشخص کردن سلایق بینندگان و بهبود کیفیت وب سایت مورد بررسی قرار می دهد. این آمارها، کمک می کند که بکوشیم سیستم «زمرد» را کاربردی تر بسازیم. </p>
    <p>برای نمونه، از اطلاعات مرورگر به این منظور استفاده می کنیم که سایتمان را به گونه ای طراحی نماییم که تعداد افراد بیشتری بتوانند صفحه های «زمرد» را به درستی مشاهده کنند. </p>
    <p>«زمرد» به شما اطمینان می دهد که اطلاعات دیگری جز موارد ذکر شده بالا ذخیره نخواهد کرد. مگر اطلاعات دیگری که با میل و اراده شخصی خود در اختیار ما می گذارید. به عنوان مثال فرم ثبت نام را پر می کنید که شامل اطلاعاتی درباره ی نام، سن، نشانی الکترونیکی و امثال آن باشد. </p>

    <h2>کوکی ها</h2>
    <p>«کوکی» ها، فایل های کوچکی هستند که توسط سایت های میزبان شما بر روی کامپیوترتان ذخیره می شود. در واقع فایل های ارتباطی میان سرور و کامپیوتر شما هستند و از نظر امنیت اطلاعات برای کامپیوتر شما به طور مطلق بی خطر هستند. </p>
    <p>به خاطر ویژگی زبان های برنامه نویسی تحت وب، در صورتی که شما این گزینه را در مرورگر خود غیر فعال کنید، از دسترسی به برخی از خدمات «زمرد» محروم خواهید بود. </p>

    <h2>ایمنی</h2>
    <p>«زمرد»، تمام اقدامات احتیاطی را برای حفاظت از اطلاعات حساس كاربران، چه در حالت آن لاین (برخط) و چه آفلاین انجام می دهد. </p>
    <p>اگر فرم «ثبت نام/درخواست خدمات ما»، از كاربر درخواست وارد كردن اطلاعات حساس (همچون شماره كارت اعتباری یا شماره ملی) را كند، این اطلاعات با بهترین نرم افزار رمزگذاری،(SSL) حفاظت خواهد شد. </p>
    <p>در صفحات ایمن، مثل فرم «درخواست خدمات»، تصویر «قفل»ی را در پایین مرورگر وب خود مشاهده خواهید كرد. </p>
    <p>علاوه بر این ها، «زمرد»، هرچه در توان دارد به کار خواهد بست تا از اطلاعات کاربر در حالت آفلاین نیز محافظت کند. </p>
    
    <h2>نظر سنجی ها و مسابقات</h2>
    <p>«زمرد»، گاهی از كاربران، برای نظر سنجی یا مسابقه، اطلاعاتی درخواست می كند. </p>
    <p>شركت در این نظر سنجی ها، یا مسابقات، داوطلبانه است. این اطلاعات برای افزایش رضایت مشتریان و بررسی میزان رضایت آنها در نظر سنجی ها و برای تماس با برنده در مسابقات استفاده می شود. </p>
    
    <h2>خبرنامه</h2>
    <p>اگر كاربر تمایلی به دریافت خبرنامه ما داشته باشد، ما از او خواهیم خواست تا اطلاعات تماس همچون نام و ایمیل خود را در اختیار ما بگذارد. </p>
    
    <h2>لینک ها و پیوندها</h2>
    <p>«زمرد»، به سایتهای دیگری، «لینك» شده است. </p>
    <p>ما هیچ مسئولیتی در قبال رویه «حریم خصوصی» این سایت ها نداریم. ما كاربرانمان را به خواندن ابلاغیه های «حریم خصوصی» این سایت ها تشویق می كنیم. </p>
    <p>زمانی که شما بر روی لینک های اشخاص دیگر که در سایت ما وجود دارد کلیک می کنید و وارد آن سایت ها می شوید، اطلاعاتی از شما در اختیار آن ها گذاشته می شود. در این صورت زمرد هیچ گونه کنترلی بر این اطلاعات ندارد و در مقابل آن ها پاسخگو نیست. </p>
    <p>اگر شما اعتراضی نسبت به لینک های سایت ما داشتید، می توانید آن را به ما اطلاع دهید. مطمئن باشید که آدرس ایمیل شما نزد ما محفوظ می ماند و ما آن را بدون اجازه خودتان (مگر به موجب قانون) فاش نخواهیم کرد. </p>
    
    <h2>ما در این اطلاعات با چه کسانی سهیم هستیم؟</h2>
    <p>«زمرد» هیچ یک از اطلاعات فردی و شخصی کاربران خود را افشا نمی کند و همچنین آن ها را به شخص و یا اشخاص ثالثی منتقل نمی کند مگر اینکه به موجب قانون و یا حکم قانونی باشد. </p>
    <p>«زمرد» دارای سه بخش اطلاعات است: «آمار جمع آوری شده درباره کاربران، ترافیک سایت و اطلاعات مرتبط با سایت». ما از مشخصه های فردی شما فقط به منظور پاسخگویی به خودتان و یا برای تهیه گزارش های آماری در جهت شناخت بهتر کاربران مان استفاده می کنیم. </p>
    <p>ما Log File ها و Database هایی از اطلاعات کاربران برای تجزیه و تحلیل نحوه استفاده آنها در طی هر ماه ایجاد می کنیم. </p>
    <p>به این ترتیب می توانیم درک بهتری از وضعیت سایت مان داشته باشیم و محتوایی را که در «زمرد» ارائه می کنیم، بهبود ببخشیم. </p>
    <p>این اطلاعات، در بر گیرنده مشخصه های فردی و شخصی تک تک کاربران نیست. </p>
    <p>بار دیگر خاطر نشان می کنیم که : «هیچ یک از اطلاعات فردی و شخصی شما را به هیچ شخص ثالثی ارائه نمی کنیم مگر اینکه با اجازه خودتان باشد و یا این که به موجب قانون مجبور به انجام این کار باشیم.» </p>
    
    <h2>تغییرات در سیاست های سایت</h2>
    <p>ممکن است «زمرد» گاهی سیاست های کاری خود را بهبود و یا تغییر دهد. ما به شما پیشنهاد می کنیم که هر چند وقت یکبار این صفحه را مطالعه کنید تا از تغییرات احتمالی سیاست های ما آگاه شوید. </p>
    <p>چنان چه پرسشی درباره قوانین و سیاست های سایت «زمرد» داشتید، می توانید آنرا با ما در میان بگذارید. </p>
</div>
<br /><br />