@using Xomorod.Helper.Resources
<section class="focus" id="focus">
    <div class="container">
        <div class="section-header">
            <h2 class="dark-text">@Localization.AtYourService</h2>
            <br/>
            <h6>&nbsp;</h6>
            <h6>@Localization.ServiceSubTitle</h6>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0s over 1s">
                <div class="service-icon">
                    <a target="_self" href="#"><i class="fa fa-5x fa-diamond pixeden our-focus-widget-image"></i></a>
                </div>
                <h5 class="red-border-bottom">@Localization.Xomorod</h5>
                <p>@Localization.XomorodService</p>
            </div>
            <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0s over 1s">
                <div class="service-icon">
                    <a target="_self" href="#"><i class="fa fa-5x fa-android pixeden our-focus-widget-image"></i></a>
                </div>
                <h5 class="red-border-bottom">@Localization.Android</h5>
                <p>@Localization.AndroidService</p>
            </div>
            <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0s over 1s" >
                <div class="service-icon">
                    <a target="_self" href="#"><i class="fa fa-5x fa-windows pixeden our-focus-widget-image"></i></a>
                </div>
                <h5 class="red-border-bottom">@Localization.Windows</h5>
                <p>@Localization.WindowsService</p>
            </div>
            <div class="col-lg-3 col-sm-3 focus-box" data-scrollreveal="enter left after 0s over 1s">
                <div class="service-icon">
                    <a target="_self" href="#"><i class="fa fa-5x fa-apple pixeden our-focus-widget-image"></i></a>
                </div>
                <h5 class="red-border-bottom">@Localization.Apple</h5>
                <p>@Localization.AppleService</p>
            </div>
        </div>
    </div>
</section>