@using Xomorod.Helper.Resources

<ul class="nav navbar-nav responsive-nav">
    <li><a class="menu-items" href="@Url.Content($"~/{ViewBag.CultureRout}/#home")">@Localization.Home</a></li>
    <li><a class="menu-items" href="@Url.Content($"~/{ViewBag.CultureRout}/#focus")">@Localization.Features</a></li>
    @*<li><a class="menu-items" href="@Url.Content($"~/{ViewBag.CultureRout}/#works")">@Localization.Portfolio</a></li>*@
    <li><a class="menu-items" href="@Url.Content($"~/{ViewBag.CultureRout}/#aboutus")">@Localization.About</a></li>
    @*<li><a class="menu-items" href="@Url.Content($"~/{ViewBag.CultureRout}/#subscribe")">@Localization.Newsletter</a></li>*@
    <li><a class="menu-items" href="@Url.Content($"~/{ViewBag.CultureRout}/#contact")" id="contactLink">@Localization.Contact</a></li>
    @*<li>@Html.ActionLink(@Localization.Blog, "Index", "Blogs", new { area = "" },  new { @class = "menu-items" })</li>*@
</ul>
