@using Xomorod.Helper.Resources
@using Xomorod.Helper

@model TreeNode<Xomorod.Helper.Sitemap.SitemapNode>

@section head{
    <meta name=robots content=noodp>
    <meta name=robots content=noydir>
    <link rel="canonical" href="@Localization.XomorodUrl/sitemap.html" />
}



@section scripts
{
    @Styles.Render("~/Content/easyTree")
    @Scripts.Render("~/bundles/easyTree")
    <script>
        (function ($) {
            function init() {
                $('.easy-tree').EasyTree();
            }

            window.onload = init();
        })(jQuery)
    </script>
}

<div class="sitemap">
    <article role="main">

        <h1 style="padding: 50px;">
            <img src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAMAAAANIilAAAAAM1BMVEX///9lvGpvwHP1+/aV0ZnP6tDY7tqMzY/s9+x4xH2p2au74r7F5sef1aKy3bTi8uOCyYZzGZzQAAAA4klEQVR42u2Vyw6DMBAD8wI2QBr+/2vhVNWKupalnqrMkY3REAcIk3+kp/hBOqXwFYFNyb4isghZS5gtQWDDbMpC9pjSv5AucGpE6QbXT03aYHAJ0uNs1XZ6gVETd7rC0Ji0967t2vHIzq0dad4WP9MdFlTYTEeatJWp9MP5ZUlxpJ22iDRpi0iTthxp0haRJm050qyt6kjTthZHmrVVJGlsK2UiPWKiNNI0aWSl0vzPf0jS2Nb2SNdRmpMeQwthx2wFaa+t4/3s+G3gGEjj+8lpXZNGNGlElEaINKOvgIXJ5AYdbwiQWpldpQAAAABJRU5ErkJggg==' alt='xomorod.com sitemap' class='logo' width='45' height='45'/>
            @Localization.Sitemap
        </h1>

        @Html.TreeViewItem(Model)

    </article>
</div>

