@using Xomorod.Helper.Resources
@model Xomorod.Com.Models.ResetPasswordViewModel
@{
    ViewBag.Title = $"{Localization.ResetPassword}";
}

<br /><br />
<h1>@ViewBag.Title</h1><br /><br />

<div style="padding: 20px;">
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>@Localization.ResetPassword</h4>
        <hr />
        <div class="centered minForms">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.Code)
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <div class="input-group" dir="ltr">
                        <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control wp-caption-text", @placeholder = Localization.EmailAddress, @data_val_required = string.Format(Localization.The_0_field_is_required, Localization.EmailAddress) })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <div class="input-group" dir="ltr">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control wp-caption-text", @placeholder = Localization.Password, @data_val_required = string.Format(Localization.The_0_field_is_required, Localization.Password) })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <div class="input-group" dir="ltr">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control wp-caption-text", @placeholder = Localization.ConfirmPassword, @data_val_required = string.Format(Localization.The_0_field_is_required, Localization.ConfirmPassword) })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input type="submit" class="btn btn-default" value="@Localization.Reset" />
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
