@using Xomorod.Helper.Resources
@model Xomorod.Com.Models.ChangePasswordViewModel
@{
    ViewBag.Title = $"{Localization.ChangePassword}";
}

<br /><br />
<h1>@ViewBag.Title</h1><br /><br />

<div style="padding: 20px;">
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>@Localization.ChangePasswordForm</h4>
        <hr />
        <div class="centered minForms">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <div class="input-group" dir="ltr">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control wp-caption-text", @placeholder = Localization.OldPassword, @data_val_required = string.Format(Localization.The_0_field_is_required, Localization.OldPassword) })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <div class="input-group" dir="ltr">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control wp-caption-text", @placeholder = Localization.NewPassword, @data_val_required = string.Format(Localization.The_0_field_is_required, Localization.NewPassword) })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <div class="input-group" dir="ltr">
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control wp-caption-text", @placeholder = Localization.ConfirmPassword, @data_val_required = string.Format(Localization.The_0_field_is_required, Localization.ConfirmPassword) })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input type="submit" value="@Localization.ChangePassword" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>